Document/*
Build/*
*.dep
*.jlink
*.bat
*.dni
*.dbgdt
*.wsdt
*.rar
*.zip
*.tmp
si/*
MICO/WAC/WAC.c

Projects/COM.MXCHIP.SPP/sublime/COM.MXCHIP.SPP.sublime-workspace

Projects/COM.MXCHIP.SPP/sublime/COM.MXCHIP.SPP.sublime-workspace
